$RECYCLE.BIN/
*.[568vq]
*.a
*.cab
*.cgo1.go
*.cgo2.c
*.exe
*.lnk
*.msi
*.msm
*.msp
*.o
*.prof
*.so
*.swp
*.test
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
._*
.apdisk
.fseventsd
.idea
Desktop.ini
Network Trash Folder
Temporary Items
Thumbs.db
[568vq].out
_cgo_defun.c
_cgo_export.*
_cgo_gotypes.go
_obj
_test
_testmain.go
backup-*.txt
backup.txt
composer.lock
composer.phar
ehthumbs.db
/*.log
*.pid
# windows #
# Mac #
/.idea
*.iml
/public
